:root{

}
.person1{
    transform: scaleX(-1);
}
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    background-color:#003566;
}
.play, .pause{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 6px;
    right: 15px;
    transition: ease-in .1s;
}
.play{
    background-image: url(https://cdn-icons-png.flaticon.com/512/945/945174.png);
    visibility: visible;
}
.pause{
    background-image: url(https://cdn-icons-png.flaticon.com/512/5932/5932251.png);
    visibility: hidden;
}
.pause.on{
    visibility:visible;
}
.play.off{
    visibility: hidden;
}
.popupsound{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    position: fixed;
    top: 40px;
    right: 10px;
    background-color: rgba(228, 228, 228, 0.627);
    z-index: 2;
    padding: 20px 5px 5px 20px;
}
.arrow{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    background-image: url(https://cdn-icons-png.flaticon.com/512/5708/5708118.png);
    top: 0;
    right: 5px;
    animation: hand .3s infinite alternate linear ;
}
.closepop1{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    background-image: url(https://cdn-icons-png.flaticon.com/512/458/458594.png);
    top: 3px;
    left: 10px;
}
@keyframes hand {
    from{
        top: 0;
    }
    to{
        top: 10px;
    }
}
@media (min-width:375px) {
    .character_2  .conttwo .beat2{
    left: -20px;
   }
}
@media (min-width:425px) {
    .character_2  .conttwo .beat2{
    left: -30px;
   }
}
@media (min-width:500px) {
    .character_2  .conttwo .beat2{
    left: -70px;
   }
}
@media (min-width:600px) {
    .character_2  .conttwo .beat2{
    left: -80px;
   }
}
@media (min-width:700px) {
    .character_2  .conttwo .beat2{
    left: -120px;
   }
}
@media (min-width:900px) {
    .character_2  .conttwo .beat2{
    left: -150px;
   }
}
.img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    margin-top: 40px;
    margin-left: .5%;
    width: 99%;
    height: 300px;
}
.titlepokedex{
    position: absolute;
    top: 2px;
    border: 2px groove gold;
    left: calc(50% - 37px);
    font-family: 'Nabla',cursive;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #161616;
}
.reset{
    position: absolute;
    top: 0;
    background-image: url(https://cdn-icons-png.flaticon.com/512/528/528101.png);
    font-size: 1.2rem;
    font-weight: 700;
    width: 40px;
    height: 38px;
    left: 10px;
}
.btnreset{
    top: 10px;
    left: 50px;
    font-size: 1.2rem;
    color: white;
    position: absolute;
}
.reset, .btnreset, .choose--buttons-container input[type="button"]:hover{
    cursor: pointer;
}
.header--ring{
background-image: url(../img/fondos/ring2.jpg);
}
.energy .power{
    margin-top: 10px;
    background-color: black;
    border: 3px groove #1786bb;
    color: white;
    text-shadow:0px 1px 0px rgb(137, 20, 20);
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 500;
}
.energy .yourpower{
    left: 10px;
    position: absolute;
}
.energy .cpupower{
    right: 10px;
    position: absolute;
}
.ring--characters-container{
    width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 20px;
}
.character_1, .character_2{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.person1{
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
}
.person2{
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
}
.ring--characters-container .beat-container{
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 130px;
}
.person1 .beat-container.one{
    left: 50px;
}
.person2 .beat-container.two{
    right: 50px;
}
.contone .win1.img{
    position: absolute;
    transition: ease all 1.9s;
} 
.main--choose-container{
    width: 100%;
    height: auto;
    padding-top:5px;
    padding-bottom: 20px;
}
.main--choose-container .choose--buttons-container{
    width: 90%;
    min-width: 288px;
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main--choose-container .title{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
    font-family:'Nabla', cursive;
    width: 280px;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    background-color: #161616;
    border:4px groove white;
    border-radius: 20px;
    padding: 2px;
}
.choose--buttons-container input[type="button"]{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    font-family: 'Anton',sans-serif;
    padding: 5px;
    margin: 2px;
    width: 131px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 8px 6px 8px black;
}
/*controles de jugador*/
.controls{
    background-color: #a0a09f;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
