:root{

}
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
}
.img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 100%;
    height: 50vh;
}
.header--ring{
background-image: url(../img/fondos/ring.jpg);
padding: 20px;
}
.ring--characters-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding: 20px;
}
.character_1, .character_2{
width: 40%;
height: 100%;
}